
#barra {
  height: 100px;
  width: auto;
  background-color:white;
}

#barrapequeña {
  background-color:coral;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
}

#logofyc {
  border-style: none;
  height: 100px; 
  width: 150px;
  float: left;
}

#usuario {
  border-style: none;
  height: 3%;
  width: 6%;
  float: right;
  padding-bottom: 0%;
}

#img{
  border-style: none;
  height: 5%;
  width: 8%;
}

#indice {
  padding-top: 30px;
}

header {
  background-color: white;
}

body {
  background-color: rgb(161, 218, 233);
}

footer {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color: white;
  margin-top: 10px;
}



#comboimage {
  background-color: coral;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 480px;
  width: 400px;
  
}

#textocarousel{
  text-align: center;
  
}

#carouselExampleDark {
  margin-top: 10%;
}

#barraenmedio{
  background-color: white;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  
}

#fotos{
  margin-top: 30px;
}








#titulo {
  position: absolute;
  font-size: 30px;
  scroll-padding-inline-start: 20px;
  font-style:oblique;
  font-family: Lobster-Regular;
}




#calendario {
  border-radius: 50%S;
  border: 40px;
  background-color: rgba(255, 255, 255, 0.753);
  padding-right: 0%;
  padding-left: 0%;
}

#listacalendario{
  padding-top: 70px;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}


div.col{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}