
#barra {
  height: 100px;
  width: auto;
  background-color: white;
}

#barrapequeña {
  
  background-color:coral;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
}

#nav{
  padding-top: 30px;
  padding-bottom: 20px;
}

#logofyc {
  border-style: none;
  height: 100px; 
  width: 150px;
  float: left;
}

header {
  background-color: white;
}

body {
  background-color: rgb(161, 218, 233);
}

footer {
  background-color: white;
}

#comboimage {
  background-color: coral;
  padding-top: 5px;
  margin: 10%;
}

#textocarousel{
  text-align: center;
  
}

#carouselExampleDark {
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
}





#titulo {
  position: absolute;
  font-size: 30px;
  scroll-padding-inline-start: 20px;
  font-style:oblique;
  font-family: Lobster-Regular;
}

#formulario {
  margin-top: 10%;
  background-color: white;
  box-sizing: content-box;
  height: 410px;
  width: 380px;
  border-radius: 20px;
  border-color: white; 
}


#botonempezar {
  float: right;
}

#carrusel1 {
  position: relative;
  margin: 25%;
  float: left;
  height: 25%; 
  width: 25%;
}



#imagenchef {
  position: relative;
  margin: 50%;
  margin-top: 85%;
  margin-left: 20%;
  float: right;
  height: 45%; 
  width: 45%;

}

#pedycot {
  background-color: white;
  box-sizing: content-box;
  height: 250px;
  width: 300px;
  border-radius: 20px;
  border-color: white;
  padding-top: 50%;
}

#calendario {
  border-radius: 50%S;
  border: 40px;
  background-color: rgba(255, 255, 255, 0.753);
  padding-right: 0%;
  padding-left: 0%;
}

#listacalendario{
  padding-top: 70px;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}


div.col{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}